<section>
  <h2 class="text-lg font-semibold mb-2">Administrative actions</h2>
  <div class="flex flex-col space-y-2 mb-6">
    <a href="/courses/new"><button class="bg-purple-700 text-white px-3 py-1 rounded w-fit">Create a new course</button></a>
    <a href="/courses"><button class="bg-purple-700 text-white px-3 py-1 rounded w-fit">My courses</button></a>
    <a href="/report"><button class="bg-purple-700 text-white px-3 py-1 rounded w-fit">View reports</button></a>
  </div>
</section>

<hr class="mb-4"/>