<section>
  <div class="flex flex-col space-y-2 mb-6">
    <button class="bg-purple-700 text-white px-3 py-1 rounded w-fit"><a href="/courses">Enrolled courses</a></button>
    <button class="bg-purple-700 text-white px-3 py-1 rounded w-fit"><a href="/progress">View progress</a></button>
  </div>
</section>

<hr class="mb-4"/>